.header {
  // $root: &;
  border-bottom: solid 1px rgb(219, 219, 219);
  display: flex;
  height: 54px;
  padding: 0 10%;

  &__logo {
    margin-left: 0;
    margin-right: auto;
  }
  &__logo-image {
    max-width: 50%;
    min-height: 100%;
    object-fit: contain;
    margin-top: 2px;
  }
  /* Search */
  &__search {
    margin-top: 10px;
  }

  &__search-input {
    max-width: 210px;

    &::placeholder {
      text-align: center;
    }
  }
  /* End Search */

  /* Navigation */
  &__navigation {
    margin-right: 0;
    margin-left: auto;
  }
  &__navigation-bar {
    margin-top: 12px;
  }

  &__navigation-link:not(:first-child) {
    color: black;
    margin-left: 22px;
  }

  &__navigation-image {
    border-radius: 50%;
    width: 25px;
    height: 25px;
  }
  /* End Navigation */
}
