.main {
  //swipper
  .swiper-container {
    width: 63%;
  }
  .swiper-slide {
    display: flex;
  }
  .swiper-button-prev {
    background-image: url("../images/logos/sprite_glyphs_2x_9e0e7ad2c7e4.png:9e0e7ad2c7e4.png") !important;
    background-size: 501px 477px;
    background-position: -291px -223px;
  }
  .swiper-button-next {
    background-image: url("../images/logos/sprite_glyphs_2x_9e0e7ad2c7e4.png:9e0e7ad2c7e4.png") !important;
    background-size: 492px 477px;
    background-position: -291px -269px;
  }
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  //End swipper

  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
  &__news {
    border: 1px solid rgb(219, 219, 219);
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 0;
    margin-right: auto;
    width: 63%;
  }
  &__story {
    cursor: pointer;
    flex: 1;
  }

  &__user-image {
    text-align: center;
  }
  &__user-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(250, 250, 250);
  }
  &__user-name {
    text-align: center;
  }
  &__user-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__suggests {
    width: 37%;
    padding-top: 20px;
    padding-left: 25px;
  }
  &__user-suggest {
    display: flex;
  }
  &__user-suggest-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(250, 250, 250);
    margin-right: 15px;
  }
  &__user-suggest-name {
    padding-top: 5px;
  }
  &__user-suggest-nickname a {
    color: black;
  }
  &__user-suggest-nickname a:hover {
    text-decoration: none;
  }
  &__user-suggest-fullname span {
    color: #8e8e8e;
    font-weight: 400;
  }

  &__suggest-title {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__suggest-for-you span {
    color: #8e8e8e;
    font-weight: 600;
  }
  &__suggest-see-all span {
    color: #262626;
    font-weight: 600;
    cursor: pointer;
  }

  &__suggest-title {
    margin-bottom: 20px;
  }
  &__suggest-user {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__suggest-infor {
    display: flex;
  }
  &__suggest-texts {
    margin-left: 13px;
    line-height: 1.2;
  }
  &__suggest-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(250, 250, 250);
  }
  &__suggest-name a {
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__suggest-follow span {
    font-size: 13px;
    color: #8e8e8e;
    font-weight: 400;
  }
  &__suggest-follow a {
    font-size: 13px;
    font-weight: 600;
  }
}
