.header{border-bottom:solid 1px #dbdbdb;display:flex;height:54px;padding:0 10%}.header__logo{margin-left:0;margin-right:auto}.header__logo-image{max-width:50%;min-height:100%;object-fit:contain;margin-top:2px}.header__search{margin-top:10px}.header__search-input{max-width:210px}.header__search-input::placeholder{text-align:center}.header__navigation{margin-right:0;margin-left:auto}.header__navigation-bar{margin-top:12px}.header__navigation-link:not(:first-child){color:black;margin-left:22px}.header__navigation-image{border-radius:50%;width:25px;height:25px}
